<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include partials/_header %>
    <div>
      <% if (!user_id) { %>
        <p>
          Please login or register
        </p>
      <% } else { %>
        <div>
        <h2>List of My URLs</h2>
        <ul>
          <% for (url in urlDatabase) { %>
            <li>
              <a href="../../u/<%= urlDatabase[url].shortURL %>"><%= urlDatabase[url].longURL %></a> =>
              <a href="/urls/<%= urlDatabase[url].shortURL %>">http://tinyapp.com/u/<%= urlDatabase[url].shortURL %></a>
              <button style="display: inline-block;"><a href= "/urls/<%= urlDatabase[url].shortURL %>">Edit</a></button>
              <form method="POST" action="/urls/<%= urlDatabase[url].shortURL %>?_method=DELETE" style="display: inline-block;">
                <button>Delete</button>
              </form>
            </li>
          <% } %>
        </ul>
        <button><a href= "/urls/new">Shorten New URL</a></button>
        </div>
      <% } %>
    <div>
  </body>
</html>
